<div class="row">
  <h1>Recent Games</h1>

  <table class="span8">
    <thead>
      <tr>
        <th class="text-left">Course</th>
        <th class="text-left">When</th>
      </tr>
    </thead>
    <tbody class="games">
    <% @games.each do |game| %>
      <tr class="game game-<%= game.id %>">
        <td class="name"><%= link_to game.course.name, course_path(game.course) %></td>
        <td class="played_at"><%= game.played_at.strftime('%b %d %Y %l:%M %P') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="span4">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail" id="filedrop">
          <div class="center">
            Drop Game File Here
          </div>
        </div>
      </li>
    </ul>

    <h4>Most Awesome Players</h4>
    <table class="span4">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Points</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= link_to player.name, player %></td>
            <td><%= player.points %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
