<div class="row">
  <h1>Recent Games</h1>

  <table class="span8">
    <thead>
      <tr>
        <th>Course</th>
        <th>When</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="games">
    <% @games.each do |game| %>
      <tr class="game game-<%= game.id %>">
        <td class="name"><%= link_to game.course.name, course_path(game.course) %></td>
        <td class="played_at"><%= game.played_at.strftime('%b %d %Y %l:%M %P') %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail" id="filedrop">
        <div class="center">
          Drop Game File Here
        </div>
      </div>
    </li>
  </ul>
</div>
