<h1>Listing games</h1>

<ul class="thumbnails">
	<li class="span3">
		<div class="thumbnail" id="filedrop">Drop a new game file here</div>
		<div class="caption"></div>
	</li>
</ul>

<table class="span12">
	<thead>
  <tr>
    <th>Course</th>
    <th>When</th>
    <th></th>
    <th></th>
  </tr>
	</thead>
<tbody class="games">
<% @games.each do |game| %>
  <tr class="game game-<%= game.id %>">
    <td class="name"><%= link_to game.course.name, course_path(game.course) %></td>
    <td class="played_at"><%= game.played_at.strftime('%b %d %Y %l:%M %P') %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
