<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Played at:</b>
  <%= @game.played_at %>
</p>

<p>
  <b>Scores:</b>
  <table>
		<tr>
			<th>Player</th>
			<% @game.scores_hash.first.select{|key,val| key =~ /^H\d+/ }.each do |hole,score|%>
				<th>
					<%= hole %>
				</th>
			<% end %>
			<th>Total</th>
		</tr>
		<% @game.scores_hash.each do |h| %>
		<tr>
			<td><%= h["Player"] %></td>
				<% @game.scores_hash.first.select{|key,val| key =~ /^H\d+/ }.each do |hole,score|%>
					<td><%= h[hole]%></td>
				<% end %>
			<td><%= h["TOT"]%></td>
		</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Back', games_path %>
