<%= link_to 'Back', games_path %>
<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Played at:</b>
  <%= @game.played_at.strftime('%b %d %Y %l:%M %P') %>
  ( <%= time_ago_in_words(@game.played_at) %> ago )
</p>

<div>
  <table class="span12">
    <tr>
      <th>Player</th>
      <% @game.holes.each do |hole|%>
        <th>
          <%= hole %>
        </th>
      <% end %>
      <th>Total</th>
    </tr>
    <% @game.scores_hash.each_with_index do |h,idx| %>
    <tr style="color: <%= legend_colors[idx] %>">
      <td><%= h["Player"] %></td>
        <% @game.holes.each do |hole|%>
          <td><%= h[hole]%></td>
        <% end %>
      <td><%= h["TOT"]%></td>
    </tr>
    <% end %>
  </table>
</div>
<style>
table{
  padding-bottom: 50px;
}
.linegraph{
  padding-bottom: 100px;
}
</style>
<h3>Running Totals vs Average</h3>
<div id="average" class="span12 pager">
  <img src="/assets/spinner.gif" />
</div>
<%= linegraph_google("average", @game) %>