<div class="hero-unit">
  <h1><%= @player.name %></h1>
  <p>Cumulative Score: <%= @player.points %></p>
  <p>
    <ul class="thumbnails">
      <% @player.course_records.each do |record| %>
        <li class="span3">
          <%= record_image(record) %>
          <h3><%= record.course.name %> - <%= record.rank.ordinalize %></h3>
          <p><%= record.date.strftime('%b %d %Y %l:%M %P') %></p>
        </li>
      <% end %>
    </ul>
  </p>
</div>